@use "../root/" as *;

.post-header,
.page-header {
  margin-top: $spacer;
  h1 {
    margin-bottom: 0;
  }

  .posted-on,
  .cat-links {
    font-size: $secondary;
    font-style: italic;
    font-family: $alt-font;
  }
}

.post-content,
.page-content {
  padding: 20px 0;
  border-bottom: 1px dashed $light-gray;
  margin-bottom: $spacer;
  img {
    margin: $spacer 0;
  }

  p,
  ul,
  ol,
  dl {
    color: $dark-gray;
  }

  h3 {
    margin-bottom: 1.3rem;
  }
  ul,
  ol {
    margin-left: 1.5rem;

    li {
      margin-bottom: 0.2rem;

      ul,
      ol {
        margin-bottom: 0;

        li {
          margin-left: 0;
        }
      }
    }
  }

  li::marker {
    color: $color-light;
  }

  ul[role="list"],
  ol[role="list"] {
    margin-left: 0;
    li li {
      margin-left: 0.6rem;
    }
  }
}
//markdown page
figure {
  margin-bottom: $spacer;
  margin-top: 1.4rem;
}

.nearer {
  margin-bottom: 0.4rem;
}

.further {
  padding-top: 1rem;
}

.footnotes,
.citations {
  li {
    font-size: $third;
  }

  p {
    display: inline;
  }
}

.citation {
  font-size: $third;
  position: relative;
  top: -0.3em;
}

.footnote {
  margin-left: 3px;
}

.backtick {
  background-color: #89b350;
}
//////////////

p:has(+ ol),
p:has(+ ul) {
  margin-bottom: 1rem;
}

.page-content {
  border-bottom: 0;
}

@include media(700) {
  .further {
    padding-top: 1.3rem;
  }
  pre[class*="language-"] {
    margin-bottom: $spacer !important;
  }
}

@include media(900) {
  .post-content,
  .page-content {
    padding: 30px 0 20px 100px;
    margin-bottom: $spacer * 1.5;
  }
}
