// =======================
// Button
// =======================

@use "../root/" as *;

//Use a btn class for tags such as <a>
#{$all-buttons},
.btn {
  appearance: none;
  cursor: pointer;
  display: inline-block;
  background-color: $color-light;
  color: $white;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  transition: background-color $duration $timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  font-family: $heading-font;
  letter-spacing: 0.03rem;
  border: 0;
  border-radius: $radius;
  font-size: $secondary;
  padding: 10px 15px;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

button {
  position: relative;
  overflow: hidden;
  transition: background 400ms;
  outline: 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
